{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
            background-color: rgb(10, 11, 12);
            color:thistle
        
    }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header text- white">Facts to know!</h5>
    <div class="card-body">
        <p class="card-text text- white"> This awesome blog is about the unknown facts of universe, galaxies and outer space.Keeps you update with latest news of NASA.</p>
        <a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiv8-jQprbqAhVaWysKHeKdA10QFjAAegQIBBAB&url=https%3A%2F%2Fwww.nasa.gov%2Fnews%2Freleases%2Flatest%2Findex.html&usg=AOvVaw1AljVb1vAJPnH4SXT5qccH"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}